.Container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.ButtonWrapper {
  display: flex;
  justify-content: space-around;
}

.Button {
  flex-basis: 50%;
  margin: var(--size-3);
}
